<div class="container">
  {{#each posts as |post|}}
  <article class="message is-medium">
    <div class="message-header is-justify-content-space-between	">
      <p>{{post.title}}</p>
      <p><small><i class="fa-solid fa-circle-user"></i>  {{post.user.username}} on {{format_date post.createdAt}}</small></p>
    </div>
  <div class="message-body">
    <div class="mb-5 divider">
  {{post.content}}
  </div>
          <!-- Display comments title with count -->
      {{#if post.comments}}
        <p><small>Comments: {{post.comments.length}}</small></p>
      {{/if}}
  </div>
  </article>
  {{/each}}
</div>
<!-- End Container -->