{{#each posts as |post|}}
<section class="section">
  <h1 class="title">{{post.title}}</h1>
  <p class="subtitle">
    <i class="fa-solid fa-circle-user"></i> {{post.user.username}}
  </p>
  <p>{{post.content}}</p>
</section>
 {{#each comments as |comment|}}
 <div class="card">
  <div class="card-content">
    <div class="content">
     {{comment.text}}  
     <p> <i class="fa-solid fa-circle-user"></i>  {{comment.user.username}}</p>  
    </div>
  </div>
</div>
 {{/each}}
{{/each}}