<div class="container">
  {{#each posts as |post|}}
  <article class="message is-medium">
    <div class="message-header">
      <p>{{post.title}}  <br><small>by: <i class="fa-solid fa-circle-user"></i>  {{post.user.username}}</small></p>
  </div>
  <div class="message-body">
    <div class="mb-5 divider">
  {{post.content}}
  </div>
          <!-- Display comments title with count -->
      {{#if post.comments}}
        <p>Comments: {{post.comments.length}}</p>
        {{#each post.comments as |comment|}}
        <div class="box">
{{comment.text}}<br><small><p> <i class="fa-solid fa-circle-user"></i> {{comment.user.username}}</p></small>
        </div>
          {{!-- <div class="card">
            <div class="card-content">
              <div class="content">
                {{comment.text}}
                <p> <i class="fa-solid fa-circle-user"></i> {{comment.user.username}}</p>
              </div>
            </div>
          </div> --}}
        {{/each}}
      {{/if}}
  </div>
  </article>

  {{/each}}
</div>
<!-- End Container -->